/*
	*	http://www.orumcekoyun.com
	*	Ücretsiz Flash Oyun Scripti
*/

body {  margin: 0 auto;  padding: 0;	background: #FFFFFF url('images/bodybg.png') repeat-x; font:0.80em Segoe UI, Arial, Helvetica, sans-serif; }
img { border: none; }
strong { font-weight:bold; color:#D55A85; font-size:1.3em; } 
a:link, a:visited { font-weight:bold; color:#D55A85; text-decoration:underline} 
ul { padding:0px; margin:0px;}
ul li { background:url('images/star.png') no-repeat left top; padding-left:20px; margin-bottom:15px; }
.qt { clear:both; background:#333; color:#fff; margin-left:40px; padding:10px; display:block; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; line-height:16px; }
.cb {clear: both;}
.h_10px {height: 10px !important;}
.h_20px {height: 10px !important;}
.w_180px {width: 180px !important;}
.w_220px {width: 220px !important;}
.w_200px {width: 200px !important;}
.w_440px {width: 440px !important;}
.ml_15px {margin-left: 15px !important;}
.mr_15px {margin-right: 15px !important;}
.mt_15px {margin-top: 15px !important;}
.mb_15px {margin-bottom: 15px !important;}
.pt_15px {padding-top: 15px;}

.clearfix{  float: none;  clear: both;  margin: 0;  padding: 0;  border: none;  font-size: 1px;}
.line{  height:2px; border-bottom: 1px solid #E5E5E5;  font-size: 1px; margin:15px 5px 5px 5px;}
.wrapper { width:960px; margin:0px auto; }
.header { height:auto;  padding-top:7px; margin-bottom:10px; position:relative; }
.content { margin-bottom:10px; border: 1px solid #E5E5E5; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 10px;   } 
.sidebar { float:right; width:202px; border: 1px solid #E5E5E5; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 10px;  } 
.footer { padding:20px; margin-top:10px; background:#D55A85; }
.footer a:link,.footer a:visited { color:#fff; text-decoration:none; }
.footer a:hover { text-decoration:underline; }

.download { width:200px !important; height:40px !important; background: url('images/download.png') no-repeat; display: block; }
.download:hover { width:200px !important; height:40px !important; background: url('images/download1.png') no-repeat; display: block; }
.downloadcount { width:auto; float:right; color:#212121; display:block; margin:12px 20px; width:67px; text-align:center; font-size:1em }
.main { width:200px !important; height:40px !important; background: url('images/main.png') no-repeat; display: block; }
.main:hover { width:200px !important; height:40px !important; background: url('images/main1.png') no-repeat; display: block; }.demo { width:200px !important; height:40px !important; background: url('images/demo.png') no-repeat; display: block; }
.demo { width:200px !important; height:40px !important; background: url('images/demo.png') no-repeat; display: block; }
.demo:hover { width:200px !important; height:40px !important; background: url('images/demo1.png') no-repeat; display: block; }
.features { width:200px !important; height:40px !important; background: url('images/features.png') no-repeat; display: block; }
.features:hover { width:200px !important; height:40px !important; background: url('images/features1.png') no-repeat; display: block; }
.templates { width:200px !important; height:40px !important; background: url('images/templates.png') no-repeat; display: block; }
.templates:hover { width:200px !important; height:40px !important; background: url('images/templates1.png') no-repeat; display: block; }
.licence { width:200px !important; height:40px !important; background: url('images/licence.png') no-repeat; display: block; }
.licence:hover { width:200px !important; height:40px !important; background: url('images/licence1.png') no-repeat; display: block; }
.team { width:200px !important; height:40px !important; background: url('images/team.png') no-repeat; display: block; }
.team:hover { width:200px !important; height:40px !important; background: url('images/team1.png') no-repeat; display: block; }
.forum { width:200px !important; height:40px !important; background: url('images/forum.png') no-repeat; display: block; }
.forum:hover { width:200px !important; height:40px !important; background: url('images/forum1.png') no-repeat; display: block; }
.contact { width:200px !important; height:40px !important; background: url('images/contact.png') no-repeat; display: block; }
.contact:hover { width:200px !important; height:40px !important; background: url('images/contact1.png') no-repeat; display: block; }
.installation { width:200px !important; height:40px !important; background: url('images/installation.png') no-repeat; display: block; }
.installation:hover { width:200px !important; height:40px !important; background: url('images/installation1.png') no-repeat; display: block; }

.nav { float:right;  list-style:none; width:680px; height:80px;  }
.nav li { float:left; padding-top:10px; background:none;}
.nav li a,.nav li a:visited { color:#fff; padding:5px; display:block; font-size:0.9em; text-decoration:none;}			
.nav li a:hover { color:#fff; padding:5px; display:block; font-size:0.9em; text-decoration:underline;}			

.adv200 { width:200px; height:200px; border:1px dotted #D55A85; }


.friends { list-style:none; }
.friends li { background:url('images/dot.png') no-repeat left 6px; float:left; margin: 2px; padding-left:13px; margin-right:10px; }
.friends li a,.friends li a:visited { color:#212121; display:block; font-size:0.9em; text-decoration:none;}			
.friends li a:hover { color:#212121; display:block; font-size:0.9em; text-decoration:underline;}			

.templatethumb { float:left;margin-left:5px;border: 1px solid #E5E5E5; padding:5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.preview { width:132px; height:37px; float:left;  }
.downloadtemplate { width:132px; height:37px; float:right; }

.boldheader { font-weight: bold; }
.description { margin-left:30px; }
.block { margin-bottom:10px; }

